/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font setup */
body {
    font-family: 'Arial', sans-serif;
    background: #121317; /* Dark background color */
    color: #336EFF; /* Blueish fill-in text color */
}

/* Main content styles */
.main-content {
    padding: 10px;
    color: #336EFF; /* Blueish fill-in text color */
}

/* Container for the exercise section */
.exercise-container {
    background: #20232a; /* Darker gray background color */
    border-radius: 10px; /* Rounded corners for the container */
    padding: 15px;
    margin-bottom: 20px; /* Space between containers */
}

/* Exercise header within the container */
.exercise-header {
    color: #FFFFFF; /* White-ish header text color */
    font-size: 2.25rem; /* Example size for headers */
}

/* Styles for the exercise instructions text */
.exercise-instructions {
    color: #FFFFFF; /* Same white color as exercise header */
    font-size: 1.25rem; /* Slightly smaller than the exercise title */
    margin-bottom: 25px; /* Spacing between the instructions and the sets */
}

/* Styles for the overall container of sets */
.sets-container {
    counter-reset: set-counter; /* Create a new instance of the counter */
}

/* Style each set as a list item */
.set {
    counter-increment: set-counter; /* Increment the counter for each set */
    list-style: none; /* Remove default list styling */
    position: relative; /* To position the set number */
    padding-left: 40px; /* Make room for the set number */
    margin-bottom: 20px; /* Space between sets */
}

/* Circle-element for the set numbers */
.set:before {
    content: counter(set-counter); /* Display the current counter number */
    position: absolute;
    left: 0; /* Align to the left side */
    top: 0; /* Align to the top of the list item */
    height: 35px;
    width: 35px;
    background-color: #121317; /* Mid gray background color */
    border-radius: 50%; /* Circular shape */
    text-align: center;
    line-height: 35px; /* Vertically center the text */
    color: #336EFF; /* Blue text */
    font-size: 1.25rem;
}

/* Styling for the rounded edge rectangles around the weight x reps x RPE */
.rep-info {
    background-color: #121317; /* Dark background color */
    border-radius: 10px; /* Rounded corners for the rep info */
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-left : 5px;
    color: #2F63E2; /* Blue text */
    cursor: pointer; /* Indicates clickable element */
    font-size: 1.35rem;
}

/* Prompt styling */
.prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #20232a; /* Matching exercise container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Make sure it's on top of other elements */
    color: #FFFFFF; /* Text color for the prompt */
    font-family: 'Arial', sans-serif; /* Match body font */
    text-align: center; /* Center the text inside the prompt */
    font-size: 1.5rem;
}

/* Styles for the select dropdown within the prompt */
.prompt select {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #121317; /* Dark background color */
    color: #2F63E2; /* Blue text color */
    border: 1px solid #336EFF; /* Blue border */
    border-radius: 4px;
    font-size: 1em;
    width: 100%; /* Make the dropdown full width within the prompt */
    -webkit-appearance: none; /* Removes default styling in WebKit browsers */
    -moz-appearance: none; /* Removes default styling in Firefox */
}

/* Optionally, add a custom arrow indicator for the select dropdown */
.prompt select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%232F63E2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 12px;
}

/* Styles for the number input within the prompt */
.prompt input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #121317; /* Darker background for input */
    color: #2F63E2; /* Blue text color to match the scheme */
    border: 1px solid #336EFF; /* Blue border to match the scheme */
    border-radius: 4px;
    font-size: 1em;
    -moz-appearance: textfield; /* Removes spinner in Firefox */
}

.prompt input[type="number"]::-webkit-outer-spin-button,
.prompt input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes spinner in Chrome, Edge, and Safari */
}

/* Styles for buttons within the prompt */
.prompt button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #336EFF; /* Blue background for buttons */
    color: #FFFFFF; /* White text color for buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.prompt button:hover {
    background-color: #1d1f25; /* Darken background on hover */
    color: #4574e5; /* Lighten text color on hover */
}

/* Footer styles */
footer {
    background: #20232a; /* Dark gray footer background color */
    color: #FFFFFF; /* White-ish footer text color */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for the swap buttons */
.swap-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.swap-btn:hover {
    background-color: #45a049;
}

.exercise-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercise-header {
    flex-grow: 1;
}

/* Specific styles for the .add-set list item */
.add-set {
    display: flex; /* Use flex layout to align the button to the left */
    justify-content: flex-start; /* Align the button to the left */
}

/* Styles for the .rep-info within .add-set to ensure correct styling and functionality */
.add-set .rep-info {
    cursor: pointer; /* Ensure the cursor changes to pointer only over the button */
    padding: 5px 10px; /* Adjust padding as needed */
}

/* Hover and active states for .add-set */
.add-set .rep-info:hover {
    background-color: #1d1f25; /* Example hover color */
    color: #4574e5; /* Example hover text color */
}

.add-set .rep-info:active {
    background-color: #1d1f25; /* Darker background color for active state */
    color: #4574e5; /* Lighter text color for active state */
}

/* Hover and active states for .rep-info and .add-set buttons */
.rep-info:hover, .add-set:hover {
    background-color: #1d1f25; /* Example hover color */
    color: #4574e5; /* Example hover text color */
}

.rep-info:active, .add-set:active {
    background-color: #1d1f25; /* Darker background color for active state */
    color: #4574e5; /* Lighter text color for active state */
}

/* Ensure the hover and active states are not applied to the list item */
.set:hover, .set:active {
    background-color: transparent; /* Clear any hover or active state styles */
}

.add-set:before {
    content: '+'; /* Display the plus symbol */
    position: absolute;
    left: 0; /* Align as needed */
    top: 0; /* Align as needed */
    height: 35px; /* Match the size of your set number circles */
    width: 35px; /* Match the size of your set number circles */
    background-color: #121317; /* Consistent with your other circles */
    border-radius: 50%; /* Circular shape */
    text-align: center;
    line-height: 35px; /* Vertically center the '+' symbol */
    color: #336EFF; /* Consistent text color */
    font-size: 20px; /* Adjust font size as needed */
}
